{% extends "layout/base.html" %}

{% block title %}VMEC - Blog {% endblock title %}

{% block stylesheet %}

<style>

  .toast {
    color: #fff;
    position: fixed;
    top: 20px;
    right: -300px; /* start off-screen */
    min-width: 250px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    z-index: 1000;
    transition: right 0.5s ease-in-out;
    margin-top: 45px;
}
.toast-show {
    right: 20px; /* move on-screen */
}

.toast-hide {
    right: -380px; /* move off-screen */
}

.toast:not(.show){
    display: block !important;
}

</style>

{% endblock stylesheet %}

{% block content %}



{% if messages %}
    
        {% for message in messages %}
            <div class="bg-{{ message.tags }} toast ff">
                {{ message }}
            </div> 
        {% endfor %}
    
{% endif %}




<div>
  <div class="text-end w-75 py-4 m-auto">
    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
      Blog</button>
  </div>
  <div class="w-75 m-auto py-3 center-box">
    <div>
      {% for item in blog %}
      <div class="card mb-3 blog ff" style="max-width: 800px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="story-pic" src="/media/{{item.story_pic}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{item.story}}</h5>
              <p class="card-text">{{item.description}}</p>
              <p class="card-text text-end video-upload-date"><small
                  class="text-body-secondary">{{item.upload_date}}</small></p>
            </div>
            <div class="d-flex justify-content-end">
              <a href="/our-courses/edit-blog/{{item.id}}/" class="btn btn-sm cr"><span
                  class="material-symbols-outlined text-light bg-primary video-action-btn">
                  edit
                </span></a>
              <form action="/register/delete-blog/{{item.id}}/" method="get">
                <button type="submit" class="btn btn-sm cr"><span
                    class="material-symbols-outlined text-light bg-danger video-action-btn">
                    delete
                  </span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- add blog -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Blog</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="input-data my-4">
            <input type="text" name="title" id="" required>
            <div class="underline"></div>
            <label for="">Title Of Blog</label>
          </div>
          <div class="input-data my-4">
            <input type="text" name="story" id="" required>
            <div class="underline"></div>
            <label for="">Story</label>
          </div>
          <div class="input-data my-4">
            <input type="text" name="description" id="" required>
            <div class="underline"></div>
            <label for="">Description</label>
          </div>
          <div class="my-2">
            <label for="" class="form-label">Story Picture</label>
            <input type="file" name="story_pic" class="form-control">
          </div>
          <div class="my-4">
            <input type="submit" class="btn btn-sm btn-success w-100">
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block externaljs %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
     var toasts = document.querySelectorAll('.toast');
     toasts.forEach(function(toast) {
         setTimeout(function() {
             toast.classList.add('toast-show');
         }, 100); // slight delay to trigger the animation

         setTimeout(function() {
             toast.classList.remove('toast-show');
             toast.classList.add('toast-hide');
         }, 10000); // hide after 10 seconds
     });
 }); 
</script>

{% endblock externaljs %}

