{% extends "layout/base.html" %}

{% block title %}VMEC - Class {% endblock title %}

{% block stylesheet %}

<style>
.underline::before{
 position: relative;
}

.toast {
  color: #fff;
  position: fixed;
  top: 20px;
  right: -300px; /* start off-screen */
  min-width: 250px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  z-index: 1000;
  transition: right 0.5s ease-in-out;
  margin-top: 45px;
}
.toast-show {
  right: 20px; /* move on-screen */
}

.toast-hide {
  right: -380px; /* move off-screen */
}

.toast:not(.show){
  display: block !important;
}
</style>

{% endblock stylesheet %}

{% block content %}

{% if messages %}
    
        {% for message in messages %}
            <div class="bg-{{ message.tags }} toast ff">
                {{ message }}
            </div> 
        {% endfor %}
    
{% endif %}

<div>
    <div>
        <div class="m-auto" style="width: 85%;">
            <div class="py-5 ">
                <div class="row">
                      <div class="col-md-7 col-md-7 class-header col-sm-12 my-1">
                        <h4 class="ff">Our Classes</h4>
                      </div>
                      
                      <div class="col-md-5 col-md-5 pl-2 col-sm-12 my-1 search-upload-bar text-end" style="padding-right: 40px;">
                        <div class="row">
                          <div class="col-md-8 col-sm-12 my-1">
                            <form action="" class="search-video d-flex justify-content-between" method="get">
                              <div class="input-data ff">
                                <input type="text" name="search-video" id="" required>
                                <div class="underline"></div>
                                <label for="">Search Video</label>
                              </div>
                              <div class="mx-1">
                                  <input type="submit" class="btn btn-sm btn-primary">
                              </div>
                            </form>
                          </div>
                          {% comment %} <pre>{{perms.home.view_classes}}</pre> {% endcomment %}
                          {% if perms.home.add_classes %}
                            <div class="col-md-4 col-sm-12 my-1" style="padding-right: 35px;">
                              <button class="btn btn-sm btn-success text-light ff" data-bs-toggle="modal" data-bs-target="#exampleModal">Upload</button>
                            </div> 
                          {% endif %}
                        </div>
                      </div>
                     
                      
                      
                </div>
                <div class="py-3">
                    <div class="container-box">
                        {% for item in data %}
                            <div class="item">
                                <div class="video-box">
                                    <video controls controlsList="nodownload" poster="/media/{{item.thumbnail}}" class="class-video" style="border-radius: 2px;" id="myVideo">
                                        <source src="/media/{{item.video}}" type="video/mp4">
                                    </video>
                                </div>
                                <div>
                                  <p class="pt-2 video-title">{{item.title |slice:"0:200"}}</p>
                                  <div class="action d-flex justify-content-end">
                                    {% if perms.home.change_classes %}
                                      <a href="/our-courses/edit/class-video/{{item.id}}/" class="btn btn-sm cr"><span class="material-symbols-outlined text-light bg-primary video-action-btn">
                                        edit
                                        </span></a>
                                    {% endif %}  
                                    {% if perms.home.delete_classes %}
                                      <form action="/our-courses/delete-class/{{item.id}}/" method="get">
                                        <button type="submit" class="btn btn-sm cr"><span class="material-symbols-outlined text-light bg-danger video-action-btn">
                                          delete
                                          </span></button>
                                      </form>
                                    {% endif %}
                                  </div>
                                  <p class="text-end video-upload-date">{{item.upload_date}}</p>
                                </div>
                            </div>
                        {% empty %}    
                          No Video Found 
                        {% endfor %}
            
                    </div> 
                    
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
<!-- upload video -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Video</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="my-4">
                    <label for="" class="form-label ff">Select Course</label>
                    <select class="form-control ff" name="courses" id="">
                        <option value="">-----</option>
                        {% for item in object %}
                          <option value="{{item.id}}">{{item.subject_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="my-4">
                    <label for="" class="form-label ff">Uplaod Video</label>
                    <input type="file" class="form-control" name="video" accept="video" id="" required>
                    <div class="underline"></div>                    
                </div>
                <div class="my-4">
                  <label for="" class="form-label ff">Uplaod Thumbnail</label>
                  <input type="file" class="form-control" name="thumbnail" id="" required>
                  <div class="underline"></div>                    
              </div>
                <div class="input-data my-4 ff">
                    <input type="text" name="title" id="" required>
                    <div class="underline"></div>
                    <label for="">Title</label>
                </div>
                <div>
                    <button type="submit" class="btn btn-success w-100 ff">Upload Video</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
     var toasts = document.querySelectorAll('.toast');
     toasts.forEach(function(toast) {
         setTimeout(function() {
             toast.classList.add('toast-show');
         }, 100); // slight delay to trigger the animation

         setTimeout(function() {
             toast.classList.remove('toast-show');
             toast.classList.add('toast-hide');
         }, 10000); // hide after 10 seconds
     });
 }); 
</script>

{% block externaljs %}{% endblock externaljs %}

