{% extends "layout/base.html" %}

{% block title %}VMEC - Home {% endblock title %}

{% block stylesheet %}

<style>

    .toast {
        color: #fff;
        position: fixed;
        top: 20px;
        right: -300px; /* start off-screen */
        min-width: 250px;
        padding: 15px;
        border: 1px solid transparent;
        border-radius: 4px;
        z-index: 1000;
        transition: right 0.5s ease-in-out;
        margin-top: 45px;
    }
    .toast-show {
        right: 20px; /* move on-screen */
    }
    
    .toast-hide {
        right: -380px; /* move off-screen */
    }
    
    .toast:not(.show){
        display: block !important;
    }

</style>

{% endblock stylesheet %}

{% block content %}

{% if messages %}
    
        {% for message in messages %}
            <div class="bg-{{ message.tags }} toast ff">
                {{ message }}
            </div> 
        {% endfor %}
    
{% endif %}

<!-- banner section -->
<div class="banner-section">
    <div>
        <div>
            <div class="banner-content ff">
                <div class="banner-content-box">
                    <h2 class="mx-2 anim">Learn English <br>From scratch</h2>
                    <p class="my-3 mx-2 anim">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa error
                        voluptatem autem quasi rem recusandae
                    </p>
                    <a href="/courses/" class="join-btn anim" style="text-decoration: none;">Join Course</a>
                    
                </div>
                <div class="card-slider-section my-5">
                    <div>
                        <div>
                            <div>
                                <div id="owl-example" class="anim">
                                    <div id="carouselExampleAutoplaying" style="width: 300px;" class="carousel slide"
                                        data-bs-ride="carousel">
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#carouselExampleCaptions"
                                                data-bs-slide-to="0" class="active" aria-current="true"
                                                aria-label="Slide 1"></button>
                                            <button type="button" data-bs-target="#carouselExampleCaptions"
                                                data-bs-slide-to="1" aria-label="Slide 2"></button>
                                            <button type="button" data-bs-target="#carouselExampleCaptions"
                                                data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        </div>
                                        <div class="carousel-inner ">
                                            <div class="carousel-item slider-card active ">
                                                <div>
                                                    <div class="">
                                                        <div class="banner-card owl-card d-flex">
                                                            <div><img src="/static/images/officer.jpeg" alt=""></div>
                                                            <div class="pt-3">
                                                                <h4 class="text-black">Self-confidence</h4>
                                                                <p>Lorem, ipsum.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item slider-card ">
                                                <div>
                                                    <div class="">
                                                        <div class="banner-card owl-card d-flex">
                                                            <div><img src="/static/images/officer.jpeg" alt=""></div>
                                                            <div class="pt-3">
                                                                <h4 class="text-black">Determination</h4>
                                                                <p>Lorem, ipsum.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item slider-card">
                                                <div>
                                                    <div class="">
                                                        <div class="banner-card owl-card d-flex">
                                                            <div><img src="/static/images/officer.jpeg" alt=""></div>
                                                            <div class="pt-3">
                                                                <h4 class="text-black">Cooperation</h4>
                                                                <p>Lorem, ipsum.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item slider-card ">
                                                <div>
                                                    <div class="">
                                                        <div class="banner-card owl-card d-flex">
                                                            <div><img src="/static/images/officer.jpeg" alt=""></div>
                                                            <div class="pt-3">
                                                                <h4 class="text-black">Liveliness</h4>
                                                                <p>Lorem, ipsum.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item slider-card ">
                                                <div>
                                                    <div class="">
                                                        <div class="banner-card owl-card d-flex">
                                                            <div><img src="/static/images/officer.jpeg" alt=""></div>
                                                            <div class="pt-3">
                                                                <h4 class="text-black">Initiative</h4>
                                                                <p>Lorem, ipsum.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item slider-card ">
                                                <div>
                                                    <div class="">
                                                        <div class="banner-card owl-card d-flex">
                                                            <div><img src="/static/images/officer.jpeg" alt=""></div>
                                                            <div class="pt-3">
                                                                <h4 class="text-black">Courage</h4>
                                                                <p>Lorem, ipsum.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item slider-card ">
                                                <div>
                                                    <div class="">
                                                        <div class="banner-card owl-card d-flex">
                                                            <div><img src="/static/images/officer.jpeg" alt=""></div>
                                                            <div class="pt-3">
                                                                <h4 class="text-black">Effective intelligence</h4>
                                                                <p>Lorem, ipsum.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} <div class="banner-logo-img">
                    <img class="anim" src="/static/images/pic.png" alt="">
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</div>



<!-- how you can join our journey section -->
<div class="journey-section ff">    
    <div class="text-center journey-heading pt-4 ff">
        <h4 class="">How You Can Start Your Journey With Me</h4>
    </div>
    <div class="py-4">
        <div>
            <div>
                <div>
                    <div class="w-75 m-auto">
                        <div class="row p-2">
                            <div class="col-md-6  rounded text-center bg-primary my-1 px-1">
                                <form action="" method="get" class="w-100">
                                    <input type="submit" name="student" class="btn btn-sm btn-primary ff"
                                        value="Student Zone">
                                </form>
                            </div>
                            <div class="col-md-5 m-auto bg-secondary text-center rounded my-1 px-1">
                                <form action="" method="get" class="w-100">
                                    <input type="submit" name="student" class="btn btn-sm btn-secondary ff"
                                        value="Teacher Zone">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- student zone -->

    <div class="student-zone-card">
        <div class="student-zone">
            <div class=" w-75 m-auto student-card">
                <div class="d-flex p-3">
                    <div class="student-logo pt-2 text-light">
                        <span class="material-symbols-outlined">
                            mood
                        </span>
                    </div>
                    <div class="student-para-1 px-3 ff">
                        <p class="para-col">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi delectus hic veniam
                            quisquam libero officiis corrupti nobis neque fuga! Eligendi adipisci maxime minus dolorum
                            dolore beatae fuga similique animi ullam!</p>
                    </div>
                </div>
                <div class="d-flex p-3">
                    <div class="student-logo pt-2 text-light">
                        <span class="material-symbols-outlined">
                            login
                        </span>
                    </div>
                    <div class="student-para-1 px-3 ff">
                        <p class="para-col">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi delectus hic veniam
                            quisquam libero officiis corrupti nobis neque fuga! Eligendi adipisci maxime minus dolorum
                            dolore beatae fuga similique animi ullam!</p>
                    </div>
                </div>
                <div class="d-flex p-3">
                    <div class="student-logo pt-2 text-light">
                        <span class="material-symbols-outlined">
                            key
                        </span>
                    </div>
                    <div class="student-para-1 px-3 ff">
                        <p class="para-col">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi delectus hic veniam
                            quisquam libero officiis corrupti nobis neque fuga! Eligendi adipisci maxime minus dolorum
                            dolore beatae fuga similique animi ullam!</p>
                    </div>
                </div>
                <div class="d-flex p-3">
                    <div class="student-logo pt-2 text-light">
                        <span class="material-symbols-outlined">
                            menu_book
                        </span>
                    </div>
                    <div class="student-para-1 px-3 ff">
                        <p class="para-col">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi delectus hic veniam
                            quisquam libero officiis corrupti nobis neque fuga! Eligendi adipisci maxime minus dolorum
                            dolore beatae fuga similique animi ullam!</p>
                    </div>
                </div>
                <div class="d-flex p-3">
                    <div class="student-logo pt-2 text-light">
                        <span class="material-symbols-outlined">
                            restart_alt
                        </span>
                    </div>
                    <div class="student-para-1 px-3 ff">
                        <p class="para-col">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi delectus hic veniam
                            quisquam libero officiis corrupti nobis neque fuga! Eligendi adipisci maxime minus dolorum
                            dolore beatae fuga similique animi ullam!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- courses card section -->
<div class="ff">
    <div class="blog-card-story py-5">
        <div>
            <h4 class="text-center ff">Our Courses</h4>
        </div>
        <div class="m-auto" style="width: 85%;">
            <div class="py-5">
                {% if courses %}
                <div class="text-end mx-5">
                    <a href="/courses/" class="" style="color: #d97706;">view all</a>
                </div>
                {% endif %}
                <div class="row justify-content-center">
                 {% for item in courses %}
                    <div class="card mx-2 my-2 blog-card" style="width: 16rem;">
                        <div class="card-body ff">
                            <h5 class="card-title ">{{item.subjectname}}</h5>
                            <p class="card-text para-col">{{item.description | slice:"0:80"}}...</p>
                            <a href="/courses/" class="btn btn-primary">See Courses</a>
                        </div>
                    </div>
                 {% endfor %}   

                </div>
            </div>
        </div>
    </div>
</div>





<!-- our blog section -->
<div class="story-section ff">
    <div class="w-100 h-100">
        <div>
            <h4 class="text-center py-5 ff">
                Blog And Success Story
            </h4>
        </div>
        <div class="m-auto py-2" style="width: 85%;">
            {% if request.user.is_superuser %}
            <div class="text-end mx-5">
                <a href="/our-blog/" class="" style="color: #d97706;">view all</a>
            </div>
            {% endif %}
            <div class="row justify-content-center w-100">
                
                {% for item in story  %}

                    <div class="maincontainer mx-2  my-1">
                        <div class="thecard">
                            <div class="front-card">
                                <div>
                                    <div class="card" style="width: 16rem;">
                                        <div class="card-body ff">
                                            <h5 class="card-title">{{item.title | slice:"0:15"}}...</h5>
                                            <p class="card-text para-col">{{item.story}}</p>
                                            <img class="card-arrow-img" src="/static/images/download.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="back-card">
                                <div class="card" style="width: 16rem;">
                                    <div class="card-body ff">
                                        {% comment %} <h5 class="card-title text-center"></h5> {% endcomment %}
                                        <p class="card-text para-col">{{item.description | slice:"0:120" }}...</p>
                                        <img class="right-arrow-img text-end" src="/static/images/right-arrow.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}



            </div>
        </div>
    </div>
</div>




<!-- faq section -->

<div class="py-5">
    <div>
        <div class="w-75 h-100 m-auto">
            <div class="d-flex justify-content-between">
                <div>
                    <h4 class="ff">Student Query</h4>
                </div>
                <div>
                    <div>
                        <button type="button" class="btn btn-sm btn-primary query-btn ask-btn ff" data-bs-toggle="modal" data-bs-target="#exampleModal">Ask +</button>
                        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Launch demo modal
                          </button> -->
                    </div>
                </div>
            </div>
            
            <div class="accordion py-4" id="accordionExample">
            {% for data in query %}
              {% if data.solution %}
                <div class="accordion-item ff">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      {{data.query}}
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="ff">{{data.solution}}</p>
                    </div>
                  </div>
                </div>

                {% endif %}
            {% endfor %}    
            </div>
        </div>
    </div>
</div>

<!-- ask query pop up -->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Ask Your Question</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="input-data my-4">
                        <textarea name="student_query" id="" cols="30" rows="10"></textarea>
                        <div class="underline"></div>
                        <label for="">Remark</label>
                    </div>
                </div>
                <div class="pb-2" style="width: 96%; margin: auto;" >
                    <button class="btn btn-success w-100 text-center m-auto" type="submit">Submit</button>
                </div>
                
            </form>
             
          </div>
        </div>
</div>


<!-- notification bar -->
{% comment %} <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 350px !important;">
    <div class="offcanvas-header">
      <div class="d-flex">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Notification</h5>
        <button class="bg-primary note-btn mx-2"><span class="material-symbols-outlined text-light pt-1">
          add
          </span></button>
      </div>
  
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body" style="width: 375px !important;">
        {% for item in note %}
        <div class="d-flex">
        
            <div class="alert alert-info" role="alert" style="width:-webkit-fill-available;">
            <p class="nt-btn">{{item.notification}}</p>
            <p class="video-upload-date text-end">{{item.date}}</p>
            </div>
            <div style="height: fit-content;">
            <span class="material-symbols-outlined text-light video-action-btn bg-primary mx-1 my-1 cr">
                edit
            </span>
            <span class="material-symbols-outlined text-light video-action-btn bg-danger mx-1 my-1 cr">
                delete
            </span>
            </div>
      
    
        </div>
      {% endfor %}
     
    </div>
</div> {% endcomment %}




{% endblock content %}

{% block externaljs %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
       var toasts = document.querySelectorAll('.toast');
       toasts.forEach(function(toast) {
           setTimeout(function() {
               toast.classList.add('toast-show');
           }, 100); // slight delay to trigger the animation

           setTimeout(function() {
               toast.classList.remove('toast-show');
               toast.classList.add('toast-hide');
           }, 10000); // hide after 10 seconds
       });
   }); 
</script>


{% endblock externaljs %}