{% extends "layout/base.html" %}

{% block title %}VMEC - About {% endblock title %}

{% block stylesheet %}

<style>


</style>

{% endblock stylesheet %}

{% block content %}

<div>
    <div>
        <div class="px-2 py-5">
            <div class="w-75 m-auto">
                <div class="row justify-content-between">
                     <div class="col-lg-6 col-md-6 about-page-box">
                        <div class="pt-4 px-3">
                            <h6 class="ff" style="color: #f97316;">How It Started</h6>
                        </div>
                        <br>
                        <div class="px-3">
                            <h2 class="ff ">
                                Our Dream is Global Learning Transformation
                            </h2>
                        </div>
                        <br><br><br>
                        <div class=" px-3">
                            <p class="ff signup-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid veritatis sint tempora dolorem corporis dicta, molestiae dolore excepturi officiis, quaerat fugit, qui quibusdam. Eveniet ab dolores eligendi. Voluptatum, dolor doloremque!</p>
                            <p class="ff signup-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nemo incidunt molestias ducimus, blanditiis quis voluptates consequuntur. Quam et doloremque soluta ad repellendus blanditiis, tempora ipsum dolores similique voluptatibus sit?</p>
                        </div>
                     </div>
                     <div class="col-lg-5 col-md-5 px-3">
                        <div>
                            <div class="d-flex justify-content-center my-4 px-2">
                                <div class="about-content-box mx-2">
                                    <h4 class="ff">3.2</h4>
                                    <p class="signup-para ff">Years Experience</p>
                                </div>
                                <div class="about-content-box mx-2">
                                    <h4 class="ff">21</h4>
                                    <p class="signup-para ff">Project Challenge</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center my-4 px-2">
                                <div class="about-content-box mx-2">
                                    <h4 class="ff">830+</h4>
                                    <p class="signup-para ff">Total Interview</p>
                                </div>
                                <div class="about-content-box mx-2">
                                    <h4 class="ff">10K+</h4>
                                    <p class="signup-para ff">Total Student</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center my-4 px-2">
                                <div class="about-content-box mx-2">
                                    <h4 class="ff">16</h4>
                                    <p class="signup-para ff">Complete Project</p>
                                </div>
                                <div class="about-content-box mx-2">
                                    <h4 class="ff">21</h4>
                                    <p class="signup-para ff">Project Challenge</p>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

{% block externaljs %}{% endblock externaljs %}