{% extends "layout/base.html" %}

{% block title %}VMEC - Courses {% endblock title %}

{% block stylesheet %}

<style>


</style>

{% endblock stylesheet %}

{% block content %}


<div>
    <div>
        <div class="m-auto w-75 py-5">
            <div>
                <div class="d-flex justify-content-between">
                    <div class="py-2 px-2">
                        <h4 class="ff">All Courses </h4>
                    </div>
                    <div>
                        <button type="button" class="btn btn-sm btn-primary ff" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Add +</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="row justify-content-between">
                    {% for object in data %}
                    <div class="col-lg-6 col-md-6 col-sm-12 my-2">
                        <div class="sub-box px-3 py-3">
                            <div>
                                <h5 class="ff">{{object.subject_name}} &nbsp; <span
                                        class="subject-code">#{{object.subject_code }}</span></h5>
                                <p class="ff signup-para">{{object.description}}</p>
                                {% if object.paid %}
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <a class="btn-sm btn-primary btn ff text-light">Buy</a>
                                    </div>
                                    <div>
                                        {% if request.user.is_staff %}
                                    <div>
                                        <a type="button" href="/our-courses/edit/coursese/{{object.id}}/" class="btn-sm btn-secondary btn ff text-light">Edit</a>
                                        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editcourses">
                                            Launch demo modal
                                          </button> -->
                                        <a href="/our-courses/delete/courses/{{object.id}}/" class="btn-sm btn-danger btn ff text-light mx-2">Delete</a>
                                    </div>
                                    
                                   {% endif %}
                                    </div>
                                </div>
                                
                                {% else %}
                                <div class="d-flex justify-content-between">
                                   <div>
                                    <a class="btn-sm btn-primary btn ff text-light ff">Video</a>
                                    <a class="btn-sm btn-success btn ff text-light mx-2 ff">Tutorial</a>
                                   </div>
                                   {% if request.user.is_staff %}
                                    <div>
                                        <a href="/our-courses/edit/coursese/{{object.id}}/" class="btn-sm btn-secondary btn ff text-light ">Edit</a>
                                        <a href="/our-courses/delete/courses/{{object.id}}/" class="btn-sm btn-danger btn ff text-light mx-2 ">Delete</a>
                                    </div>
                                    
                                   {% endif %}
                                   
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>


<!-- add courses popup -->




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 ff" id="exampleModalLabel">Add Courses</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="input-data my-4 ff">
                                <input type="text" name="subject_name" id="" required>
                                <div class="underline"></div>
                                <label for="">Subject Name</label>
                            </div>
                            <div class="input-data my-4 ff">
                                <input type="text" name="subject_code" id="" required>
                                <div class="underline"></div>
                                <label for="">Subject Code</label>
                            </div>
                            <div class="input-data ff my-5">
                                <textarea name="description" id="" cols="30" rows="10" required></textarea>
                                <div class="underline"></div>
                                <label for="">Description</label>
                            </div>
                            <div class="d-flex ff">
                                <div class="py-1 px-1">
                                    <label for="">Paid</label>
                                    <input type="radio" value="True" name="paid" id="">
                                </div>
                               <div class="py-1 px-2">
                                 <label for="">Free</label>
                                 <input type="radio" value="False" name="paid">
                               </div>
                               
                            </div>

                            <div class="py-2">
                                <button type="submit" class="btn w-100 btn-sm btn-success ff">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

{% block externaljs %}{% endblock externaljs %}