{% extends "layout/base.html" %}

{% block title %}VMEC - Courses {% endblock title %}

{% block stylesheet %}

<style>


</style>

{% endblock stylesheet %}

{% block content %}


<div>
    <div>
        <div class="m-auto w-75 py-5">
            <div>
                <div class="d-flex justify-content-between">
                    <div class="py-2 px-2">
                        <h4 class="ff">All Courses </h4>
                    </div>
                    {% if request.user.is_superuser %}
                    <div>
                        <button type="button" class="btn btn-sm btn-primary ff" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Add +</button>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div>
                <div class="row justify-content-between">
                    {% for object in data %}
                    <div class="col-lg-6 col-md-6 col-sm-12 my-2">
                        <div class="sub-box px-3 py-3">
                            <div>
                                <h5 class="ff">{{object.subjectname}} &nbsp;</h5>
                                <h6 class="ff">{{object.title | slice:"0:50"}}...</h6>
                                <p class="ff signup-para">{{object.description | slice:"0:"}}</p>
                                {% if object.paid %}
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <a class="btn-sm btn-primary btn ff text-light">Buy</a>
                                    </div>
                                    <div>
                                        {% if request.user.is_staff %}
                                    <div>
                                        <a type="button" href="/our-courses/edit/coursese/{{object.id}}/" class="btn-sm btn-secondary btn ff text-light">Edit</a>
                                        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editcourses">
                                            Launch demo modal
                                          </button> -->
                                        <a href="/our-courses/delete/courses/{{object.id}}/" class="btn-sm btn-danger btn ff text-light mx-2">Delete</a>
                                    </div>
                                    
                                   {% endif %}
                                    </div>
                                </div>
                                
                                {% else %}
                                <div class="d-flex justify-content-between">
                                   <div>
                                    <a class="btn-sm btn-primary btn ff text-light ff">Video</a>
                                    <a class="btn-sm btn-success btn ff text-light mx-2 ff">Download Notes</a>
                                   </div>
                                   {% if request.user.is_staff %}
                                    <div>
                                        <a href="/our-courses/edit/coursese/{{object.id}}/" class="btn-sm btn-secondary btn ff text-light ">Edit</a>
                                        <a href="/our-courses/delete/courses/{{object.id}}/" class="btn-sm btn-danger btn ff text-light mx-2 ">Delete</a>
                                    </div>
                                    
                                   {% endif %}
                                   
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- add courses popup -->




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 ff" id="exampleModalLabel">Add Courses</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="my-4 row ff">
                               <div class="col-lg-11 col-md-11 col-sm-12">
                                    <label for="" class="form-label ff">Subject Name</label>
                                    <select name="subject_name" class="form-control" id="">
                                        <option value="">-----</option>
                                        {% for item in subject %}
                                        <option value="{{item.id}}">{{item.subject_name}}</option>
                                        {% endfor %}
                                    </select>
                               </div>
                               <div class="col-lg-1 col-md-1 col-sm-12 my-4 py-2 ff">
                                <button class="btn btn-sm btn-primary"  data-bs-toggle="modal" data-bs-target="#addsubject" style="font-size: 18px; font-weight: 600;">+</button>
                               </div>                                
                            </div>
                            <div class="input-data my-4 ff">
                                <input type="text" name="title" id="" required>
                                <div class="underline"></div>
                                <label for="">Title</label>
                            </div>
                            <div class="input-data ff my-5">
                                <textarea name="description" id="" cols="30" rows="10" required></textarea>
                                <div class="underline"></div>
                                <label for="">Description</label>
                            </div>
                            <div class="d-flex ff">
                                <div class="py-1 px-1">
                                    <label for="">Paid</label>
                                    <input type="radio" value="True" name="paid" id="">
                                </div>
                               <div class="py-1 px-2">
                                 <label for="">Free</label>
                                 <input type="radio" value="False" name="paid">
                               </div>
                               
                            </div>

                            <div class="py-2">
                                <button type="submit" class="btn w-100 btn-sm btn-success ff">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add subject modal -->
<div class="modal-dialog modal-dialog-centered">
    <div class="modal fade" id="addsubject" tabindex="-1" aria-labelledby="addsubject" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="" method="post">
                {% csrf_token %}
                <div class="input-data my-4 ff">
                    <input type="text" name="subject" id="" required>
                    <div class="underline"></div>
                    <label for="">Subject</label>
                </div>
                <div class="input-data my-4 ff">
                    <input type="text" name="subject_code" id="" required>
                    <div class="underline"></div>
                    <label for="">Subject Code</label>
                </div>
                <button class="btn btn-sm btn-success">Add Subject</button>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>


{% endblock content %}

{% block externaljs %}{% endblock externaljs %}