{% extends "layout/base.html" %}

{% block title %}VMEC - Profile {% endblock title %}

{% block stylesheet %}

<style>
    .toast {
        color: #fff;
        position: fixed;
        top: 20px;
        right: -300px; /* start off-screen */
        min-width: 250px;
        padding: 15px;
        border: 1px solid transparent;
        border-radius: 4px;
        z-index: 1000;
        transition: right 0.5s ease-in-out;
        margin-top: 45px;
    }
    .toast-show {
        right: 20px; /* move on-screen */
    }
    
    .toast-hide {
        right: -380px; /* move off-screen */
    }
    
    .toast:not(.show){
        display: block !important;
    }

</style>

{% endblock stylesheet %}

{% block content %}


{% if messages %}
    
        {% for message in messages %}
            <div class="bg-{{ message.tags }} toast ff">
                {{ message }}
            </div> 
        {% endfor %}
    
{% endif %}

<div>
    <div class="w-100">
        <div class="m-auto" style="width:65%">
            <div class="py-5">
                <div class="profile-heading-box mx-3">
                    <div class="m-auto py-1 " style="width: 40%;">
                        <div class="">
                             <h4 class="text-center text-light">Update Your Pofile</h4> 
                        </div>
                    </div>
                </div>
               
                <div class="profile-update">
                    <form action="" class="py-4 ff px-3" method="post">
                        {% csrf_token %}
    
                        <div class="input-data my-4">
                            <input type="text" name="name" value="{{data.username}}" id="" required>
                            <div class="underline"></div>
                            <label for=""></label>
                        </div>
    
                        <div class="input-data my-4">
                            <input type="email" name="email" value="{{data.email}}" id="" required>
                            <div class="underline"></div>
                            <label for=""></label>
                        </div>
                        
                        <div class="input-data my-4">
                            <input type="number" name="number" value="{{data.first_name}}" id="" required>
                            <div class="underline"></div>
                            <label for=""></label>
                        </div>

                        
                        <div class="row">
                            <div class="col-md-6 my-1 col-sm-12 col-lg-6">
                                <a href="/" class="btn btn-sm text-light py-1 mx-1 my-1" style="background-color: #737373;">Back</a>
                                <button type="submit" class="btn btn-sm btn-primary text-light py-1 mx-2 my-1">Update</button>
                            </div>
                            <div class="col-md-6 my-1 col-sm-12 col-lg-6 text-end">
                                <a href="/register/change-password/" class="btn btn-sm btn-warning">Change Password</a>
                            </div>
                        </div>
                        
    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>








{% endblock content %}

{% block externaljs %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
       var toasts = document.querySelectorAll('.toast');
       toasts.forEach(function(toast) {
           setTimeout(function() {
               toast.classList.add('toast-show');
           }, 100); // slight delay to trigger the animation

           setTimeout(function() {
               toast.classList.remove('toast-show');
               toast.classList.add('toast-hide');
           }, 10000); // hide after 10 seconds
       });
   }); 
</script>

{% endblock externaljs %}