{% extends "layout/base.html" %}

{% block title %}VMEC - Signup {% endblock title %}


{% block stylesheet %}{% endblock stylesheet %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div>
    <div class="w-100">
        <div class="py-4 px-3">
            <div class="w-50 m-auto">
                <div class="py-4 mx-3" style="border-radius: 12px; box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;">
                   <div class="py-4 mx-3">
                    <form action="" method="post">
                        {% csrf_token %}
                        <label for="" class="form-label">Email</label> <br>
                        {{ form.email}}
                        <div class="d-flex ">
                            <div class="">
                                <a href="{% url "login" %}" class="btn btn-sm btn-secondary">Back</a>
                            </div>
                            <div class="mx-2">
                                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                            </div>
                        </div>
                        
                    </form>
                   </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block externaljs %}{% endblock externaljs %}