{% extends "layout/base.html" %}

{% block title %}VMEC - Reset Password Form {% endblock title %}

{% block stylesheet %}

<style>
</style>

{% endblock stylesheet %}

{% block content %}
<div>
    <div class="py-5">
        <div class="w-50 m-auto">
            <div class="py-4 px-3 mx-3" style="border-radius: 12px; box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;">
                <!-- <p>Enter your e-mail address to obtain a new password.</p> -->
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-sm btn-success" type="submit" value="Send e-mail">
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

{% block externaljs %}{% endblock externaljs %}